body{
    display: flex;
    background-image: url(./img/bg.avif);
}

canvas{
    border: solid blue;
}

#GUI{
    width: 350px;
    z-index: -1;
}

div{
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}

#Oxygen{
    position: absolute;
    top: 140px;
    left: 1080px;
    height: 160px;
    width: 50px;
    background-color: aqua;
}

#SyreTank{
    position: absolute;
    left: 1020px;
    top: 130px;
    height: 180px;
    z-index: 1;
}

#Fov{
    height: 40px;
}

#MoveSpeed{
    height: 40px;
}

#Stats{
    color: white;
    position: relative;
    left: -210px;
    top: 110px;
    list-style: none;
}

.gameover{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 350px;
    top: 200px;
    
    z-index: 2;
    background-color: rgb(255, 255, 255);
}

.upgrade{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 350px;
    top: 200px;
    justify-content: center;
    align-content: center;

    z-index: 2;
    background-color: rgb(255, 255, 255);
}

.upgrade button{
    
    height: auto;
    width: auto;
    margin: 10px;
}